@font-face {
  font-family: 'kremlin';
  src: local('kremlin'), url(./kremlin.ttf) format('ttf');
}

.App {
  text-align: center;
  font-family: kremlin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sovietFooter {
  position: fixed;
  bottom: 0!important;
  background-color: black;
  font-weight: 400;
  color: yellow!important;
}

.navbar {
  position: fixed;
  top: 0!important;
  background-color: #b10000!important;
  font-weight: 400;
  color: yellow!important;
}

.pusher {
  cursor: pointer;
  width: 15vw;
  margin-left: 42vw;
  margin-top: 15vh;
  position: sticky;
}

.paraph {
  font-size: 9em;
}
.welcome1 {
  z-index: 999;
  position: absolute!important;
  height: 100vh;
  margin-left: 0vw;
  width:  50.581vw;
  margin-top: -3vh;
  -webkit-transition: 3.5s;
  -o-transition: 3.5s;
  -ms-transition: 3.5s;
  -moz-transition: 3.5s;
  transition: 3.5s;
}

.welcome2 {
  z-index: 999;
  position: absolute!important;
  margin-left: 49.815vw;
  margin-top: -3vh;
  height: 100vh;
  width: 51vw;
  margin-top: -3vh;
  -webkit-transition: 3.5s;
  transition: 3.5s;
}

.welcome1bis {
  z-index: 999;
  position: absolute!important;
  height: 100vh;
  margin-left: -53vw;
  width: 50.5vw;
  -webkit-transition: 3.5s;
  -o-transition: 3.5s;
  -ms-transition: 3.5s;
  -moz-transition: 3.5s;
  transition: 3.5s;
}

.welcome2bis {
  z-index: 999;
  position: absolute!important;
  margin-left: 105vw;
  height: 100vh;
  width: 51vw;
  -webkit-transition: 3.5s;
  -o-transition: 3.5s;
  -ms-transition: 3.5s;
  -moz-transition: 3.5s;
  transition: 3.5s;
}

.wallpaper {
  background-color: firebrick;
  height: 61vh;
  border-bottom: solid 43px;
  border-color: black;
}

.star {
  animation: App-logo-spin infinite 20s linear;
  position: absolute;
  margin-top: -40vh;
  margin-left: 66vw;
  height: 24vh;
}

.title {
  width: 50vw;
  margin-left: 23vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ListSegment {
  margin: 2vh 3vw 5vh 3vw !important;
}

.ListGrid {
  padding-left: 0.5vw !important;
}

.ListItemHeader {
  margin-top: -3vh !important;
  position: absolute;
  left: 0;
  right: 0;
}

.ListItemImage {
  margin-left: 0.8vw !important;
  margin-bottom: 2vh !important;
  margin-top: -2vh !important;
}

.ListPokeball {
  background-image: url("../img/pokeball.png") !important;
  background-size: cover !important;
  opacity:0.4;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ui.icon.input input {
  border-radius: 2vw;
}
