@font-face {
  font-family: 'kremlin';
  src: local('kremlin'), url(./kremlin.ttf) format('ttf');
}
.App {
  text-align: center;
  font-family: kremlin;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sovietFooter {
  position: fixed;
  bottom: 0!important;
  background-color: #b10000!important;
  font-weight: 400;
  color: yellow!important;
}
#clip {
  position: absolute;
  clip: rect(0, 100px, 200px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ListSegment {
  margin: 3vw !important;
}

.ListGrid {
  padding-left: 0.5vw !important;
}

.ListItemHeader {
  margin-top: -3vh !important;
}

.ListItemImage {
  margin-left: 1vw !important;
  margin-bottom: 1vh !important;
  margin-top: -2vh !important;
}
